
.item {
    width: 50px;
    height: 50px;
    background: orange;
    border-radius: 20px;
    position: absolute;
    cursor: move;
    top: 400px;
    left: 40px;
}


/* ////// RESIZE ////// */

/* a bigger point (rounded rectangle) */
.resizer{ 
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: black;
    z-index: 3;
}

/* at the top right corner of our object */
.resizer.ne{
    top: -1px;
    right: -1px;
    cursor: ne-resize;
}

/* at the top left corner of our object */
.resizer.nw{
    top: -1px;
    left: -1px;
    cursor: nw-resize;
}

/* at the bottom right corner of our object */
.resizer.se{
    bottom: -1px;
    right: -1px;
    cursor: se-resize;
}

/* at the bottom left corner of our object */
.resizer.sw{
    bottom: -1px;
    left: -1px;
    cursor: sw-resize;
}



/* //// MOVE //// */

.movable{
    cursor: move;
}


/* /// EXPAND /// */

.expander{
    position: absolute;
    background: rgb(76, 76, 168);
    opacity: 0;
    z-index: 2;
}

.expander.horizontal{
    width: 4px;
    height: 50px;
    cursor: col-resize;
}

.expander.vertical{
    width: 50px;
    height: 4px;
    cursor: row-resize;
}

.expander.horizontal.left{
    left: -1px;
}

.expander.horizontal.right{
    right: -1px;
}

.expander.vertical.top{
    top: -1px;
}

.expander.vertical.bottom{
    bottom: -1px;
}

.expander:hover {
    opacity: 1;
}




/* ///// DRAG-AND-DROP ///// */

.container{
    width: 400px;
    height: 100px;
    border: 1px solid #aaaaaa;
}